.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.screen-inactive {
    display: none;
}

#sidebar {
    min-width: 350px;
    max-width: 350px;
    min-height: 100vh;
    padding-top: 70px;
    padding-left: 50px;
    background: #ffffff;
    color: #000000;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 2vh 0 2vh 0;
}

#sidebar .sidebar-body {
    margin-top: 15vh;
}

#sidebar .sidebar-footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 5vh;
}

#sidebar ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
